/* ==========================================================================
   # START SELECT COMPONENT
   ==========================================================================
*/
.a-select {
    .ant-select-selection__placeholder{
        color: color(gray) !important;
        font:{
            size: font-size(s-small);
            weight: font-weight(regular);
        };
    }
    .ant-select-selection-selected-value{
        color: rgba(color(black),.85);
        font-weight: font-weight(regular);
    }
    &--w-100 {
        width: 100%;
    }
    &--h-30 {
        .ant-select-selection--single {
            height: 3rem;
        }
    }
    .ant-select-selection {
        border: .1rem solid color(gray-D9);
    }
    .icon__dropdown__select {
        font: {
            size: font-size(medium);
        }
        color: color(gray-70);
    }
    /*Chọn số lượng bản ghi hiện trên pagination*/
    &--select-number-show{
        width: 8rem;
        .ant-select-selection{
            @include border-radius(.6rem);
            color: rgba(color(black),.85);
        }
    }
    /* Chọn kho package*/
    &--warehouse{
        width: 100%;
        margin-left: .5rem;
        margin-right: .5rem;
        .ant-select-selection-selected-value{
            font:{
                size: font-size(medium);
            }
            color: rgba(color(black),.85);
        }
    }
    /*Select trong search content các danh sách */
    &--search-content{
        .ant-select-selection-selected-value{
            color: rgba(color(black),.85);
            font-weight: font-weight(regular);
        }
    }
}

/*Custom select ant*/
.ant-select-open .ant-select-selection {
    border-color: color(primary) !important;
}
.ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover{
    font-weight: font-weight(medium) !important;
}
/* ==========================================================================
   # END SELECT COMPONENT
   ==========================================================================
*/