/* ==========================================================================
   # START CHAT COMPONENT
   ==========================================================================
*/

.a-chatbox {
    position: fixed;
    right: 2.4rem;
    top: calc(#{ get-map($heights, "header", "lg")} + 2.4rem);
    width: width(chatbox, lg);
    height: calc(100vh - #{ get-map($heights, "header", "lg")} - 3.4rem);
    background-color: color(white);
    border: .1rem solid color(border);
    &--input {
        @include a-flex;
        padding: 1.6rem 1.6rem 1.2rem 1.6rem;
        background-color: color(gray-FA);
        border-bottom: .1rem solid color(border);
    }
    &--log {
        @include a-flex;
        &.system {
            margin-top: 1.2rem;
            margin-bottom: 2.4rem;
        }
        &.user {
            padding-bottom: 1.2rem;
        }
        &:nth-child(2){
            margin-top: 0;
        }
        .img-ads {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: .9rem;
            object-fit: cover;
            @include border-radius(50%);
        }
        &--detail {
            flex: 1;
            .title {
                margin-bottom: .4rem;
                font: {
                    size: 1rem;
                    weight: font-weight(regular);
                };
                line-height: 1rem;
                color: #CCCCCC;
            }
            .detail {
                font: {
                    size: font-size(s-small);
                    weight: font-weight(regular);
                };
                color: rgba(color(black), .85);
            }

        }

    }

}
/*` ==========================================================================
   # END CHAT COMPONENT
   ==========================================================================
*/