/* ==========================================================================
   # START INPUT COMPONENT
   ==========================================================================
*/
.a-input {
    color: rgba(color(black), .85);
    font: {
        weight: font-weight(regular);
    }
    @include input-placeholder {
        color: color(gray) !important;
        font: {
            size: font-size(s-small);
            weight: font-weight(regular);
        };
    }
    &:focus {
        border-color: color(primary);
    }
    &:hover {
        border-color: color(primary);
    }
    &--matching-code {
        width: 20rem !important;
        height: 3.2rem;
        @include border-radius(.4rem);
        border: none;
        z-index: 1;
        input {
            border: none;
        }
        .ant-select-selection__placeholder {
            font: {
                size: font-size(medium);
                weight: font-weight(regular);
            }
            color: rgba(color(black), .45);
        }
        &.detail-package{
            height: auto;
            border: .1rem solid color(border);
        }
    }
    &--bill-code-small {
        width: 10rem;
        @include media-breakpoint-only(lg, xl) {
            width: 9rem;
        }
        @include input-placeholder {
            font: {
                size: font-size(s-small);
                weight: font-weight(regular);
            }
            color: color(gray-9A) !important;
        }
    }
    &--scan-code {
        &:focus {
            border-color: color(primary);
        }
        &:hover {
            border-color: color(primary);
        }
    }
    &--package-size {
        width: 6.4rem;
        @include media-breakpoint-only(lg, xl) {
            width: 5.4rem;
        }
    }
    /*Disable input*/
    &--disable {
        pointer-events: none;
        background-color: rgba(color(black), .04);
    }
    /*End*/

    /*Texarea tối đa 3 dòng*/
    &--textarea {
        font: {
            size: font-size(medium);
            weight: font-weight(regular);
        }
        color: rgba(color(black), .85);
    }
    /*End*/

    /*Date time picker full width*/
    &--datetime-picker-fullwidth {
        width: 100%;
        .ant-input {
            color: rgba(color(black), .85) !important;
            font: {
                weight: font-weight(regular);
            }
        }
    }
    /*End*/

    /*Thông báo input warning*/
    &--warning {
        border: .1rem solid color(orange-FAA);
        &:hover {
            border: .1rem solid color(orange-FAA);
        }
    }
    &--error {
        border: .1rem solid rgba(color(red), 1);
        &:hover {
            border: .1rem solid rgba(color(red), 1);
        }
    }
    /*End*/

    /*Input search trong trang danh sách*/
    &--search {
        .ant-input-suffix {
            right: .7rem;
            top: calc(50% + 1px);
            i {
                font-size: font-size(large);
            }
        }
    }
    /*End*/

    /*Input trong chat box*/
    &--chatbox {
        height: 2.5rem;
        padding-right: 1.5rem;
        @include border-radius(.2rem);
        border: .1rem solid color(border);
        font: {
            size: font-size(small);
        }
        @include input-placeholder {
            font: {
                size: font-size(s-small);
                weight: font-weight(regular);
            }
            color: rgba(color(black), .65);

        }
    }
    /*End*/

    /*Input tìm kiếm mã đơn hàng trong chi tiết kiện*/
    &--search-order {
        input {
            border: .1rem solid color(border);
            @include border-radius(.4rem);
            @include media-breakpoint-down(lg) {
                min-height: 3.2rem;
                height: 3.2rem;
            }
        }
        .ant-input-suffix {
            right: .5rem;
            i {
                font-size: font-size(large);
                color: rgba(color(black), .25);
            }
        }
    }
    /*End*/
    /*Input nhập lý do khác khi chọn lý do lưu kho là ` khác`*/
    &--reaseon-save-warehouse {
        margin-left: 2rem;
        @include media-breakpoint-down(lg){
            margin-left: 0;
        }
    }

}
/* ==========================================================================
   # END INPUT COMPONENT
   ==========================================================================
*/