/* ==========================================================================
   # START ALERT COMPONENT
   ==========================================================================
*/
.a-alert {
    @include border-radius(.4rem);
    &--error {
      @include border-radius(.4rem);
    }
    &--warning{

    }
}
.ant-notification-notice-message{
    font:{
        size: font-size(medium) !important;
    }
}
/* ==========================================================================
   # END ALERT COMPONENT
   ==========================================================================
*/