.a-pagination {
    @include a-flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2.4rem;
    &.is-sidebar{
        @include media-breakpoint-down(lg){
            flex-direction: column-reverse;
            .a-pagination--select-number-item{
                margin-bottom: 1.2rem;
            }
        }
    }
    &--select-number-item {
        margin-left: 2.4rem;
        @include media-breakpoint-down(lg) {
            margin-right: 0;
        }
        .text-show {
            margin-right: 1rem;
            font: {
                weight: font-weight(regular);
            }
            color: rgba(color(black), .85);
        }
    }
    &--detail {
        .ant-pagination-item {
            @include border-radius(.6rem);
            &:hover {
                border-color: color(primary);
            }
            a {
                color: rgba(color(black), .85);
            }
            &.ant-pagination-item-active {
                background-color: color(primary);
                border-color: color(primary);
                a {
                    color: color(white);
                }
            }
        }
    }
    /*Pagination danh sách đơn hàng trong chi tiết kiện*/
    &--order-package {
        @include a-flex;
        margin-left: 1.34rem;
        @include media-breakpoint-down(lg) {
            position: absolute;
            bottom: .3rem;
            right: 2.6rem;
        }
        .ant-pagination-prev {
            a {
                border: none;
            }
        }
        .ant-pagination-next {
            margin-right: -1.2rem;
            a {
                border: none;
            }
        }
        .ant-pagination-item {
            @include border-radius(.6rem);
            &:hover {
                border-color: color(primary);
            }
            a {
                color: rgba(color(black), .85);
            }
            &.ant-pagination-item-active {
                background-color: color(primary);
                border-color: color(primary);
                a {
                    color: color(white);
                }
            }
        }
    }
}