.a-form {
    &__item {
        margin-bottom: 0;
        .label-require {
            position: relative;
            &::before {
                position: absolute;
                right: -1rem;
                top: 0;
                display: inline-block;
                content: '*';
                margin-right: 0;
                font: {
                    size: font-size(medium);
                    family: SimSun, sans-serif;
                }
                line-height: 1;
                color: #F5222D;
            }
        }
        .ant-form-item-label {
            margin-bottom: .3rem;
            padding: 0;
            line-height: 2rem;
            @include media-breakpoint-down(lg){
                line-height: 1.2rem;
                margin-bottom: .7rem;
            }
        }
        &__heading, label {
            color: rgba(color(black), .45);
            font: {
                size: font-size(s-small) !important;
                weight: font-weight(medium);
            }
        }
        .ant-form-item-control {
            line-height: 1.3rem;
        }
        /*Form search trong search danh sách*/
        &.search-content {
            margin-bottom: 0;
            @include media-breakpoint-down(lg){
                margin-bottom: 1.5rem;
            }
            .ant-form-item-label {
                padding-bottom: 0;
                line-height: 1.9;
            }
        }
        /*Form sửa trong sửa kiện*/
        &__edit-package {
            margin-bottom: 2.4rem;
        }
        /*Danh sách đặc tính của kiện*/
        .property--package {
            @include a-flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: 0;
            flex-wrap: wrap;
            .list {
                padding: .5rem 1rem;
                list-style-type: none;
                @include border-radius(.3rem);
                margin-bottom: .5rem;
                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
                &.active {
                    background-color: color(primary);
                    transition: ease all .3s;
                    .link {
                        color: color(white);
                    }
                }
                .link {
                    color: rgba(color(black), .85);
                    &:focus {
                        text-decoration: none;
                    }
                    &:hover {
                        color: rgba(color(black), .45);
                    }
                }
            }
        }
        /*Form lý do lưu kho có input nhập lý do khác*/
        &.reason--save-warehouse {
            .ant-form-item-children {
                @include a-flex;
                width: 100%;
            }
        }
    }
    &--group-button {
        &--warehous {
            @include a-flex;
            flex-wrap: wrap;
        }
        &--select{
            margin: 0 !important;
        }
    }
    &--group {
        margin-bottom: 2.3rem;
        &.input-rease-warehouse {
            margin-bottom: 0;
            margin-top: 2.3rem;
            @include media-breakpoint-down(lg) {
                margin-top: 1.5rem;
                margin-bottom: 0;
            }
        }
    }
}
/*Xóa kích thước trong thông số kiện hàng*/
.link-reload {
    i {
        font-size: font-size(medium);
        color: color(primary);
        margin-right: .3rem;
    }
    font: {
        size: font-size(s-small);
    }
    color: color(primary);
    &:hover {
       opacity: .95;
    }

}
/*Thông báo lỗi trong form*/
.ant-form-explain {
    margin-top: .2rem;
    font: {
        size: font-size(s-small);
    }
}