/* ==========================================================================
   # START BUTTON COMPONENT
   ==========================================================================
*/
.a-btn {
    font: {
        size: font-size(medium);
        weight: font-weight(regular);
    };
    &:focus {
        border-color: color(primary);
    }
    &:hover {
        border-color: color(primary);
    }
    /*Button chính*/
    &--primary {
        color: color(white);
        background-color: color(primary);
        border: .1rem solid color(primary);
        &:focus {
            border-color: color(primary-hover);
            background-color: color(primary-hover);
        }
        &:hover {
            border-color: color(primary-hover);
            background-color: color(primary-hover);
        }
    }
    /*End*/
    /*Button mặc định*/
    &--default {
        color: rgba(color(black), .45);
        background-color: color(white);
        border: .1rem solid color(gray-D9);
        @include css-transition('ease all .4s');
        &:hover {
            color: color(primary);
            background-color: color(white);
        }
        &.active {
            @include css-transition('ease all .4s');
            color: color(white);
            background-color: color(primary);
            border: .1rem solid color(primary);
            &:hover {
                color: color(white);
            }
        }
    }
    /*End*/
    /*Button full chiều dài*/
    &--w-100 {
        width: 100%;
    }
    /*End*/
    &--h-25 {
        height: 2.5rem;
    }
    &--create-package {
        width: 100%;
        margin-top: 2rem;
    }
    /*Button thêm mới đơn*/
    &--create-bill-code {
        @include a-flex;
        justify-content: center;
        align-items: center;
        width: 18rem;
        height: 4rem;
    }
    /*End*/
    /*Button tạo kiên hoặc chỉnh sửa kiện*/
    &--submit-bill-code {
        @include a-flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
    }
    &--print-tem {
        @include a-flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 4rem;
    }
    /*End*/
    /*Button là link*/
    &--button-link {
        height: inherit;
        padding: 0 0;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        &:focus {
            span {
                text-decoration: underline;
            }
        }
        &:after {
            -webkit-animation: none;
            -o-animation: none;
            animation: none;
        }
    }
    /*End*/
    &--font-small {
        font: {
            size: font-size(s-small);;
        }
    }
    &--warehouse {
        margin-bottom: .8rem;
        margin-left: .5rem;
        margin-right: .5rem;
        padding: .6rem .9rem .7rem 1.1rem;
        @include border-radius(.4rem);

    }
    /*Button tạo kiện cùng vận đơn*/
    &--create-package-same-bill-code {
        height: 4rem;
        padding-left: 5rem;
        padding-right: 5rem;
        font: {
            size: font-size(meidum);
            weight: font-weight(regular);
        };
    }
    /*End*/
    /*Disable button*/
    &--disable {
        pointer-events: none;
        color: rgba(color(black), .25) !important;
        background-color: rgba(color(black), .04) !important;
        border: .1rem solid color(gray-D9) !important;
        text-shadow: none;
        font: {
            weight: font-weight(regular);
        }
    }
    /*End*/
    /*Button chọn trọng sider tạo kiện*/
    &--action-sider {
        position: relative;
        @include a-flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 4rem;
        margin-bottom: 1.6rem;
        padding-left: 1.6rem;
        border: {
            top: .1rem solid rgba(color(black), .1);
            bottom: .1rem solid rgba(color(black), .1);
        };
        font: {
            size: font-size(large);
            weight: font-weight(medium);
        }
        color: rgba(color(black), .85);
        @include border-radius(none);
        @include css-transition('ease all .4s');
        &:before {
            @include css-transition('ease all .4s');
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            width: .2rem;
            height: 100%;
            background-color: color(primary);
            opacity: 0;
        }
        &.top-40 {
            margin-top: 4rem;
        }
        &.active {
            font: {
                weight: font-weight(bold);
            }
            background-color: color(blue-F0);
            border: none;
            &:before {
                opacity: 1;
            }
        }
        &:hover {
            border: none;
            font: {
                weight: font-weight(bold);
            }
            background-color: color(blue-F0);
            cursor: pointer;
            &::before {
                opacity: 1;
            }
        }
    }
    /*End*/
    /*Button Lưu khi sửa package*/
    &--save-package {
        height: 3.2rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    /*Button trở lại khi sửa package*/
    &--back-package {
        @include a-flex;
        justify-content: center;
        align-items: center;
        height: 3.2rem;
        margin-right: 2.2rem;
    }
    /*Button Gửi trong chatbox*/
    &--submit-chatbox {
        height: 2.5rem;
        margin-left: -1rem;
        @include border-radius(.2rem);
    }
    /*Button background transparent border white*/
    &--transparent-white {
        border: .1rem solid color(white);
        &:hover {
            color: color(white);
            opacity: .7;
            border: .1rem solid rgba(255, 255, 255, .7);
        }
        &:focus {
            color: color(white);
            opacity: .7;
            border: .1rem solid rgba(255, 255, 255, .7);
        }
    }
    /*Button upload file trong forom chat*/
    &--chat-upload {
        position: absolute;
        right: 7.8rem;
        top: 1.9rem;
        button[type="button"] {
            border: none;
            padding: 0;
            height: auto;
        }
        .ant-upload-list {
            position: absolute;
            top: 2.5rem;
            right: .5rem;
            max-width: 12rem;
            z-index: 10;
            background-color: color(white);
            .ant-upload-list-item {
                background-color: color(white);
            }
        }
    }
    &--search-list {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        @include media-breakpoint-down(lg) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    /*Button Xem lịch sử trong chi tiết kiện*/
    &--history-in-package{
       @include media-breakpoint-down(lg){
           border: .1rem solid color(primary);
           color: color(primary);
           &:hover{
               border: .1rem solid color(primary);
               color: color(primary);
           }
           &:focus{
               border: .1rem solid color(primary);
               color: color(primary);
           }
       }
    }
}
/* ==========================================================================
   # END BUTTON COMPONENT
   ==========================================================================
*/