.a-dropdown {
    &__choose-language {
        &__title {
            color: color(white);
            &:hover {
                cursor: pointer;
                @include css-transition('ease, all, .5s');
                .icon-dropdown__language {
                    @include css-transition('ease, all, .5s');
                    opacity: .6;
                }
            }
            .img__flag-language {
                width: 3.5rem;
                height: 2.4rem;
                @include border-radius(.4rem);
            }
            .icon-dropdown__language {
                margin-left: .5rem;
                color: color(light-black);
                font: {
                    size: font-size(s-small);
                }
                opacity: .5;
            }
        }
    }

    &__info-user {
        @include a-flex;
        align-items: center;
        height: 100%;
        &:hover {
            cursor: pointer;
            .name__user {
                opacity: .5;
                @include css-transition('ease, all, .5s');
            }
            .icon-dropdown__info-user {
                opacity: .3;
                @include css-transition('ease, all, .5s');
            }
        }
        .img__avatar {
            @include circle(2.4rem, transparent);
            object-fit: cover;
        }
        .name__user {
            margin-left: 1rem;
            margin-right: .5rem;
            color: rgba(color(black), .85);
            font: {
                size: font-size(small);
                weight: font-weight(regular);
            }
        }
        .icon-dropdown__info-user {
            color: color(light-black);
            font: {
                size: font-size(s-small);
            }
            opacity: .5;
        }
    }
    &--set-field {
        width: 45rem;
        @include media-breakpoint-down(xxl){
            width: 38.4rem;
        }
        &__menu {
            @include a-flex;
            flex-wrap: wrap;
            margin-top: 1rem;
            padding: 2rem 2.5rem 5rem 3.2rem;
            .close-field-menu {
                @include a-flex;
                justify-content: flex-end;
                width: 100%;
                margin-bottom: 1.5rem;
            }
        }
        &__item {
            width: 50%;
            margin-bottom: 1.2rem;
            padding: 0;
            &:hover{
                background-color: transparent;
            }
        }
    }
}
.ant-select-dropdown-menu{
    &::-webkit-scrollbar {
        width: 6px;
        &:horizontal {
            height: 6px;
        }
    }
    &::-webkit-scrollbar-thumb {
        background: color(gray-9F);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: color(gray-9F);
        cursor: pointer;
    }
}