/* ==========================================================================
   # START TAB COMPONENT
   ==========================================================================
*/
.a-tabs {
    &--chatbox {
        font: {
            size: 1.2rem;
            weight: font-weight(regular);
        };
        .ant-tabs-bar {
            padding-bottom: .1rem;
            border-bottom: .1rem solid color(border);
            .ant-tabs-nav-wrap {
                background-color: color(gray-FA);
            }
        }

        .ant-tabs-nav {
            width: 50%;
            .ant-tabs-tab {
                @include a-flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                padding: 1.1rem 1.5rem;
                font: {
                    size: 1.2rem;
                    weight: font-weight(regular);
                };
            }
            .ant-tabs-tab-active {
                color: color(text-primary);
            }
        }
        .ant-tabs-ink-bar {
            background-color: color(text-primary);
            width: 100%;
        }

        &--panel {
            padding: 0 2.1rem 1.8rem 1.6rem;
            overflow-y: auto;
            max-height: calc(100vh - #{ get-map($heights, "header", "lg")} - 16rem);
            &:hover {
                &::-webkit-scrollbar-thumb {
                    background: color(gray-9F);
                    border-radius: 10px;
                }
            }
            &::-webkit-scrollbar {
                width: 5px;
                &:horizontal {
                    height: 5px;
                }
            }
            &::-webkit-scrollbar-thumb {
                background: transparent;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: color(gray-9F);
                cursor: pointer;
            }
        }
    }
}
/*` ==========================================================================
   # END TAB COMPONENT
   ==========================================================================
*/