
#page-content {
  display: block;
}
#print-content {
  display: none;
}

@media print {
  #page-content {
    display: none;
  }
  #print-content {
    display: block;
  }
}

.a-stamp {
  display: inline-block;
  width: 280px;
  font-size: 16px;
  margin: 0 10px 0;
  padding-top: 10px;
  &--print{
    &--top{
      @include a-flex;
      justify-content: space-between;
      align-items: center;
    }
    &--bototm{
      @include a-flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    &--block{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .username{
        text-transform: uppercase;
        font-size: font-size(small);
      }
      .weight{
        font-size: font-size(small);
      }
      .bill-code{
        text-transform: uppercase;
        font-size: font-size(small);
      }
      .volumn{
        font-size: font-size(small);
      }
    }
  }
  &--warehouse{
    text-transform: uppercase;
    font-size: font-size(small);
  }
  &--package-code{
    font:{
      size: font-size(large);
      weight: font-weight(bold);
    }
    text-transform: uppercase;
  }
  &--barcode{
    display: flex;
    align-items: center;
  }
}

@media print {
  @page {
    size: portrait;
    margin: 0;
  }
  html, body {
    width: 100mm;
    height: 60mm;
    margin:1mm 0mm 5mm 5mm;
    font-family: 'Roboto',sans-serif;
  }
  .a-stamp--print-page-break {
    page-break-before : always;
  }
  .ant-notification{
    display: none;
  }
}