/* ==========================================================================
   # START LOADING COMPONENT
   ==========================================================================
*/
.icon-loading {
    z-index: z-index(dropdown);
    svg {
        animation: circle .5s linear reverse infinite;
    }
}
.a-form--loading {
    &.loading-input {
        position: relative;
        .loading {
            pointer-events: none;
            background-color: color(blue-F0);
            &:hover {
                pointer-events: none;
                cursor: default;
            }
        }
        .icon-loading {
            position: absolute;
            top: 1rem !important;
            right: .5rem;
        }
    }
    &.loading-texarea {
        position: relative;
        .loading {
            pointer-events: none;
            background-color: color(blue-F0);
            &:hover {
                pointer-events: none;
                cursor: default;
            }
        }
        .icon-loading {
            position: absolute;
            top:-1rem !important;
            right: 1rem;
        }
    }
    &.loading-defaut{
        position: relative;
        .loading {
            pointer-events: none;
            background-color: color(blue-F0);
            &:hover {
                pointer-events: none;
                cursor: default;
            }
        }
        .icon-loading {
            position: absolute;
            top: .2rem;
            right: 1rem;
        }
    }
    &.loading--volumn-package {
        position: relative;
        .icon-loading {
            position: absolute;
            top: .3rem;
            right: 6rem;
        }
    }
}

/* ==========================================================================
   # END LOADING COMPONENT
   ==========================================================================
*/