/* ==========================================================================
   # START TABLE COMPONENT
   ==========================================================================
*/
.a-table {
    display: table;
    width: 100%;
    @include border-radius(.4rem);
    border-collapse: collapse;
    text-align: left;
    thead {
        tr {
            th {
                padding: 1.6rem 1.6rem 1.3rem 1.6rem;
                font: {
                    size: font-size(s-small);
                    weight: font-weight(regular);
                }
                white-space: nowrap;
                border-bottom: .1rem solid color(gray-E8);
                background-color: color(gray-F5);
                color: rgba(color(black), .85);
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 1.6rem 1.6rem 1.3rem 1.6rem;
                font: {
                    size: 1.4rem;
                }
                color: rgba(color(black), .85);
                border-bottom: .1rem solid color(gray-E8);
                transition: all .3s, border 0s;

            }
            &:hover {
                td {
                    background-color: color(blue-E6);
                }
            }
        }
    }
    &--responsive {
        overflow-x: auto;
        &:hover {
            &::-webkit-scrollbar-thumb {
                background: color(gray-9F);
                border-radius: 10px;
            }
        }
        &::-webkit-scrollbar {
            width: 6px;
            &:horizontal {
                height: 6px;
            }
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: color(gray-9F);
            cursor: pointer;
        }
    }
    &--barcode-scan {
        border-radius: .3rem;
        tbody {
            tr {
                td {
                    font: {
                        size: font-size(medium);
                        weight: font-weight(regular);
                    }
                    color: rgba(color(black), .85);
                    white-space: nowrap;
                }
            }
            .error {
                display: contents;
                tr {
                    background-color: color(red-FF);
                    &.data {
                        td {
                            position: relative;
                            border-bottom: none;
                            &:before {
                                position: absolute;
                                top: -1px;
                                left: 0;
                                content: "";
                                width: 100%;
                                height: 1px;
                                background-color: rgba(color(red), .5);
                            }
                        }
                    }
                    &.message {
                        td {
                            position: relative;
                            &:after {
                                position: absolute;
                                bottom: -1px;
                                left: 0;
                                content: "";
                                width: 100%;
                                height: 1px;
                                background-color: rgba(color(red), .5);
                            }
                        }
                    }
                }
                &:hover {
                    td {
                        background-color: rgba(color(red), .02);
                    }
                }
            }
            .warning {
                display: contents;
                tr {
                    background-color: color(orange-FFF);
                    &.data {
                        td {
                            position: relative;
                            border-bottom: none;
                            &:before {
                                position: absolute;
                                top: -1px;
                                left: 0;
                                content: "";
                                width: 100%;
                                height: 1px;
                                background-color: color(orange-FFE);
                            }
                        }
                    }
                    &.message {
                        td {
                            position: relative;
                            &:after {
                                position: absolute;
                                bottom: -1px;
                                left: 0;
                                content: "";
                                width: 100%;
                                height: 1px;
                                background-color: color(orange-FFE);
                            }
                        }
                    }
                }
                &:hover {
                    td {
                        background-color: rgba(color(red), .02);
                    }
                }
            }
        }
    }
    &--history-scan-code {
        border-radius: .3rem;
        &:hover {
            &::-webkit-scrollbar-thumb {
                background: color(gray-9F);
                border-radius: 10px;
            }
        }
        &::-webkit-scrollbar {
            width: 5px;
            &:horizontal {
                height: 5px;
            }
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: color(gray-9F);
            cursor: pointer;
        }
        table {
            thead {
                tr {
                    th {
                        padding-top: 1.4rem;
                        padding-bottom: 1rem;
                        font: {
                            size: font-size(s-small);
                        }
                        color: color(light-black);
                        background-color: color(gray-F5);
                        white-space: nowrap;
                        &:first-child {
                            position: -webkit-sticky;
                            position: sticky;
                            top: 0;
                            left: 0;
                            background-color: color(gray-F5);
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font: {
                            size: font-size(medium);
                        }
                        color: color(light-black);
                        white-space: nowrap;
                        &:first-child {
                            position: -webkit-sticky;
                            position: sticky;
                            top: 0;
                            left: 0;
                            background-color: color(white);
                        }
                    }
                }
            }
        }
    }
    &--antd {
        overflow-x: auto;
        &:hover {
            &::-webkit-scrollbar-thumb {
                background: color(gray-9F);
                border-radius: 10px;
            }
        }
        &::-webkit-scrollbar {
            width: 6px;
            &:horizontal {
                height: 6px;
            }
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: color(gray-9F);
            cursor: pointer;
        }
        table {
            thead {
                tr {
                    th {
                        white-space: nowrap;
                        color: rgba(color(black), .85);
                        font: {
                            size: font-size(small);
                            weight: font-weight(regular);
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        color: rgba(color(black), .85);
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   # END TABLE COMPONENT
   ==========================================================================
*/