/* ==========================================================================
   # START PACKAGE PAGE
   ==========================================================================
*/
.a-package {
    &__title {
        h3 {
            margin-bottom: 0;
            font: {
                size: font-size(large);
                weight: font-weight(bold);
            }
            color: color(light-black);
            span {
                font: {
                    size: font-size(large);
                    weight: font-weight(medium);
                }
                > span {
                    color: color(primary);
                }
            }
        }
    }
    /*Chi tiết kiện*/
    &.package-detail{
        position: relative;
        .title{
            .right{
                @include media-breakpoint-down(lg){
                    position: absolute;
                    top: 6.7rem;
                    left: 2.4rem;
                    z-index: 1;
                }
            }
        }
      .a-package__body{
          @include media-breakpoint-down(lg){
              padding-top: 7rem;
          }
      }
    }
    /*end*/
    &__body {
        position: relative;
        padding: 0;
        padding-right: .7rem;
        border-radius: .4rem;
        .is_empty {
            @include a-flex;
            justify-content: center;
            align-items: center;
        }
        .is_form {
            padding-top: 1.6rem;
        }
        .form--package {
            /*Input nhập Kích thước trong package*/
            .group--size-package {
                @include media-breakpoint-down(lg) {
                    margin-top: 1.4rem;
                }
            }
            .group--input-bill-code-small {
                display: inline-flex;
                align-items: center;
            }
            .bill-code-sub {
                color: rgba(color(black), .85);
                white-space: nowrap;
            }
        }
        &--scroll {
            min-height: calc(100vh - #{ get-map($heights, "header", "lg")} - 10.2rem);
            max-height: calc(100vh - #{ get-map($heights, "header", "lg")} - 10.2rem);
        }
        &--group-size {
            @include a-flex;
            @include media-breakpoint-down(lg) {
                flex-wrap: wrap;
                margin-top: 1.5rem;
            }
            .package--block-volumn {
                margin-left: 4rem;
                .info--label {
                    margin-top: .2rem;
                    margin-bottom: .7rem;
                }
                @include media-breakpoint-down(xxl) {
                    margin-left: 3rem;
                }
                @include media-breakpoint-down(xl) {
                    margin-left: 2rem;
                }
                @include media-breakpoint-down(lg) {
                    @include a-flex;
                    margin-left: 0;
                    margin-top: 1.5rem;
                    margin-bottom: .3rem;
                    white-space: nowrap;
                    label {
                        margin-right: 1.5rem;
                    }
                }
            }
        }
        .package--info-left {
            border-right: .1rem solid color(border);
        }
    }
    &__block {
        &--define-warehouse {
            padding: 1.4rem;
            background-color: color(light-gray);
            .define-warehouse--block {
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
                .define-warehouse-title {
                    margin-bottom: .5rem;
                    font: {
                        size: font-size(large);
                        weight: font-weight(regular);
                    }
                }
                ul {
                    padding-left: 1rem;
                    li {
                        list-style-type: none;
                        span {
                            font: {
                                size: font-size(small);
                            }
                        }
                    }
                }
            }
        }
    }
    &__scan-empty {
        @include a-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 2.4rem;
        margin-right: 1.2rem;
        background-color: color(white);
        @include border-radius(.4rem);
        img {
            width: 16.2rem;
            height: 16.2rem;
            object-fit: cover;
            margin-bottom: 1.6rem;
        }
        span {
            text-align: center;
            font: {
                size: font-size(xx-large);
                weight: font-weight(bold);
            }
            color: rgba(color(black), .25);
            text-transform: uppercase;
            line-height: 3rem;
        }
    }
    /*Hiển thị dịch vụ trong đơn*/
    &--service {
        padding-bottom: 1.2rem;
        border: .1rem solid color(border);
        @include border-radius(.4rem);
        &.only-view {
            border: none;
            border-left: .1rem solid rgba(color(black), .25);
            @include border-radius(0);
            .title {
                padding: 0;
                background-color: color(white);
                border-bottom: none !important;
            }
            .service--body {
                padding: 0;
                .title--block {
                    font: {
                        size: font-size(s-small);
                        weight: font-weight(regular) !important;
                    }
                    color: rgba(color(black), .45);
                }
                .service--block {
                    border: none !important;
                    padding-left: 0;
                    .service--block--body {
                        margin-top: .5rem;
                        ul {
                            li {
                                span {
                                    @include a-flex;
                                    align-items: center;
                                    padding-left: 0;
                                    font: {
                                        size: font-size(s-small);
                                        weight: font-weight(regular);
                                    }
                                    line-height: 2.8rem;
                                    color: rgba(color(black), .85);
                                    img {
                                        width: 2rem;
                                        height: 2rem;
                                        object-fit: cover;
                                        margin-right: 1rem;
                                    }
                                    svg {
                                        width: 2rem;
                                        height: 2rem;
                                        object-fit: cover;
                                        margin-right: 1rem;
                                    }
                                }
                            }
                        }
                        .service-empty {
                            font: {
                                size: font-size(medium);
                                weight: font-weight(regular);
                            }
                            color: rgba(color(black), .45);
                        }
                    }
                }
            }
        }
        .title {
            padding: 1.2rem 1.2rem 1.2rem 1.4rem;
            font: {
                size: font-size(medium);
                weight: font-weight(bold);
            }
            color: rgba(color(black), .85);
            background-color: color(gray-FA);
            border-bottom: .1rem solid color(border);
            border-top-left-radius: .4rem;
            border-top-right-radius: .4rem;
        }
        .service--body {
            padding: 0;
            .service--block {
                padding-left: 1.2rem;
                &:not(:last-child) {
                    border-bottom: .1rem solid color(border);
                }
                .title--block {
                    margin-top: 1.2rem;
                    font: {
                        size: font-size(s-small);
                        weight: font-weight(bold);
                    }
                }
                .service--block--body {
                    margin-top: 1.2rem;
                    .label--service {
                        font: {
                            size: font-size(s-small);
                            weight: font-weight(regular);
                        }
                    }
                    ul {
                        li {
                            list-style-type: none;
                            &:not(:last-child) {
                                margin-bottom: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    /*End*/
    /*Chi tiết kiện*/
    &--detail {
        .title {
            font: {
                size: font-size(medium);
                weight: font-weight(bold);
            }
            span {
                font: {
                    weight: font-weight(regular);
                }
            }
        }
        .list-order {
            position: relative;
            width: 100%;
            margin-bottom: 1.6rem;
            padding: 1.25rem 2.4rem 1.4rem 2.4rem;
            background-color: color(white);
            @include border-radius(.2rem);
            @include media-breakpoint-down(lg){
                padding-bottom: 2.4rem;
            }
            &--top {
                @include a-flex;
                &--right {
                    @include a-flex;
                    margin-left: auto;
                    @include media-breakpoint-down(lg) {
                        display: block;
                    }
                }
            }
            &--detail {
                display: flex;
                flex-wrap: wrap;
                margin-top: 1.4rem;
                margin-left: -.4rem;
                margin-right: -.4rem;

                li {
                    margin-right: .5rem;
                    margin-left: .5rem;
                    margin-bottom: 1rem;
                    padding: .2rem 1rem;
                    list-style-type: none;
                    border: .1rem solid color(border);
                    @include border-radius(.4rem);
                    @include css-transition('ease all .4s');
                    &.active {
                        border: .1rem solid color(primary);
                        background-color: color(primary);
                        span {
                            color: color(white);
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    span {
                        font: {
                            size: font-size(small);
                            weight: font-weight(regular);
                        }
                        color: rgba(color(black), .85);
                    }
                }
            }
        }
    }
    /*End*/
    &--action {
        @include a-flex;
        justify-content: space-between;
        padding-top: 1.7rem;
        border-top: .1rem solid color(border);
        &.only-action {
            @include a-flex;
            justify-content: flex-end;
            padding-top: 1.7rem;
            border-top: .1rem solid color(border);
        }
        &.full-action {
            @include media-breakpoint-down(lg) {
                padding-bottom: 2.5rem;
            }
            .list-action--right {
                li {
                    &:last-child {
                        @include media-breakpoint-down(lg) {
                            position: absolute;
                            bottom: -2rem;
                            right: 2.4rem;
                        }
                    }
                    &.not-line-space {
                        @include media-breakpoint-down(lg) {
                            padding-right: 0;
                        }
                    }
                    .a-btn--print-tem {
                        @include media-breakpoint-down(lg) {
                            width: 10rem;
                        }
                    }
                }
            }
        }
        .list-action {
            @include a-flex;
            align-items: center;
            li {
                position: relative;
                @include a-flex;
                align-items: center;
                padding-right: 1.5rem;
                list-style-type: none;
                &.not-line-space {
                    &:before {
                        width: 0 !important;
                    }
                }
                &:not(:first-child) {
                    padding-left: 1.5rem;
                }
                &:not(:last-child) {
                    &:before {
                        position: absolute;
                        right: 0;
                        top: 15%;
                        content: '';
                        width: .1rem;
                        height: 70%;
                        background-color: rgba(color(black), .45);
                    }
                }
                &:last-child {
                    padding-right: 0;
                }
                @include media-breakpoint-down(lg) {
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

}
/* ==========================================================================
   # END PACKAGE PAGE
   ==========================================================================
*/