/* ==========================================================================
   # START ULTILITIES HIDDEN
   ==========================================================================
*/
.a-hidden {
    display: none !important;
}
.clear-both {
    clear: both;
    &--lg{
        @include media-breakpoint-down(lg){
            clear: both;
        };
    }
    &--xl{
        @include media-breakpoint-up(xl){
            clear: both;
        };
    }
}
/* ==========================================================================
   # END ULTILITIES HIDDEN
   ==========================================================================
*/