/* ==========================================================================
   # START PADDING ULTILITIES
   ==========================================================================
*/

.p {
    &t {
        &-0 {
            padding-top: 0 !important;
        }
        &-1 {
            padding-top: (1rem * .25) !important;
        }
        &-2 {
            padding-top: (2rem * .25) !important;
        }
        &-3 {
            padding-top: (3rem * .25) !important;
        }
        &-4 {
            padding-top: (4rem * .25) !important;
        }
        &-5 {
            padding-top: (5rem * .25) !important;
        }
    }
    &b {
        &-0 {
            padding-bottom: 0 !important;
        }
        &-1 {
            padding-bottom: (1rem * .25) !important;
        }
        &-2 {
            padding-bottom: (2rem * .25) !important;
        }
        &-3 {
            padding-bottom: (3rem * .25) !important;
        }
        &-4 {
            padding-bottom: (4rem * .25) !important;
        }
        &-5 {
            padding-bottom: (5rem * .25) !important;
        }
    }
    &l {
        &-0 {
            padding-left: 0 !important;
        }
        &-1 {
            padding-left: (1rem * .25) !important;
        }
        &-2 {
            padding-left: (2rem * .25) !important;
        }
        &-3 {
            padding-left: (3rem * .25) !important;
        }
        &-4 {
            padding-left: (4rem * .25) !important;
        }
        &-5 {
            padding-left: (5rem * .25) !important;
        }
    }
    &r {
        &-0 {
            padding-right: 0 !important;
        }
        &-1 {
            padding-right: (1rem * .25) !important;
        }
        &-2 {
            padding-right: (2rem * .25) !important;
        }
        &-3 {
            padding-right: (3rem * .25) !important;
        }
        &-4 {
            padding-right: (4rem * .25) !important;
        }
        &-5 {
            padding-right: (5rem * .25) !important;
        }
    }
}
/* ==========================================================================
   # END PADDING ULTILITIES
   ==========================================================================
*/