/* ==========================================================================
   # START TEXT ULTILITIES
   ==========================================================================
*/
.a-text {
    font-size: font-size(medium);
    font-weight: font-weight(regular);
    &--blue {
        color: color(primary) !important;
    }
    &--red {
        color: rgba(color(red),1) !important;;
    }
    &--green {
        color: color(light-green) !important;;
    }
    &--black{
        color: color(light-black) !important;
    }
    &--black-45{
        color: rgba(color(black),.45) !important;
    }
    &--orange{
        color: color(orange-FAA) !important;
    }
    &--bold {
        font-weight: font-weight(bold) !important;
    }
    &--medium{
        font-weight: font-weight(medium) !important
    }
    &--uppercase {
        text-transform: uppercase !important;
    }
    &--regular{
        font-weight: font-weight(regular) !important;
    }
    &--medium{
        font-weight: font-weight(medium) !important;
    }
    &--warning{
        font-size: font-size(s-small);
        line-height: 1.6rem;
        color: color(orange-FAA) !important;
    }
    &--error{
        font-size: font-size(s-small);
        line-height: 1.8rem;
        color: rgba(color(red),1) !important;
    }
    &--nowrap{
        white-space: nowrap !important;
    }
}
/* ==========================================================================
   # END TEXT ULTILITIES
   ==========================================================================
*/