/* ==========================================================================
   # START FUNCTION SETTING
   ==========================================================================
*/

/*Start build Z-index*/
@function z-index($z-index) {
    @return var(--z-index-#{$z-index});
}

/*End build Z-index*/

/*Start build Color*/
@function color($color-name) {
    @return var(--color-#{$color-name});
}
/*End build Color*/

/*Start build Width*/
@function width($height, $width-variant:null) {
    // z-index variant is optional
    @if ($width-variant != null) {
        // map inception, need two names
        @return var(--width-#{$height}-#{$width-variant});
    } @else {
        // single-level z-index, one name
        @return var(--width-#{$width-variant});

    }
}
/*End build Width*/

/*Start build Height*/
@function height($height, $height-variant:null) {
    // z-index variant is optional
    @if ($height-variant != null) {
        // map inception, need two names
        @return var(--height-#{$height}-#{$height-variant});
    } @else {
        // single-level z-index, one name
        @return var(--height-#{$height-variant});

    }
}
/*End build Height*/

/*Start build Font-size*/
@function font-size($font-size) {
    @return var(--font-size-#{$font-size});
}
/*End build Font-size*/

/*Start build Font-weight*/
@function font-weight($font-weight) {
    @return var(--font-weight-#{$font-weight});
}
/*End build Font-weight*/

/*Start map_get variable css*/
@function get-map($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}
/*End map_get variable css*/


/*KEY FRAME*/

/*Key frame xoay vòng tròn*/
@include keyframes(circle) {
    100% { transform: rotate(-360deg); }
}
/*End*/
/*Key frame box-shadow khi button được visited*/
@include keyframes(waveEffect) {
    100% {
        top: -6px;
        right: -6px;
        bottom: -6px;
        left: -6px;
        border-width: 6px; }
}
@include keyframes(fadeEffect) {
    100% {
        opacity: 0; }
}
/*End*/

/*Key framre đổi màu chữ*/
@include keyframes(hue) {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }

}
/*Key frame di chuyển từ trên xuống dưới*/
@include keyframes(top-bottom--warning-bill-code){
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* ==========================================================================
   # END FUNCTION SETTING
   ==========================================================================
*/