/* ==========================================================================
   # START DEFAULT SETTING
   ==========================================================================
*/
* {
    outline: 0;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    word-break: break-word;
    font-family: 'Roboto', sans-serif;
    background-color: color(light-gray);
    &::-webkit-scrollbar {
        width: 10px;
        &:horizontal {
            height: 10px;
        }
    }
    &::-webkit-scrollbar-thumb {
        background: color(gray-9F);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: color(gray-9F);
        cursor: pointer;
    }
}
a {
    color: color(blue-link);
    @include css-transition('all, 0.3s, ease-in-out');
    &:hover {
        @include css-transition('all, 0.3s, ease-in-out');
        text-decoration: inherit;
    }
    &:focus {
        outline: none;
    }
}
button, input, select, div, a {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}
/* ==========================================================================
   # END DEFAULT SETTING
   ==========================================================================
*/