.product-content {
    &__info-product-content{
        padding-left: 40px !important;
    }
    &__info-product{
        padding-right: .625rem;
        padding-left: .625rem;
        margin-top: .625rem;
        margin-bottom: .625rem;
        cursor: pointer;
        position: relative;
        .price1{
            display: inline-block;
            background: #f0f2f5;
            right: 20px;
            font-size: 2.875rem;
            color: red;
            font-weight: bold;
            text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 3px 3px 5px #333;
        }
        .price2{
            bottom: 66px;
            color: #636363;
            margin-top: 10px;
            margin-right: 15px;
            font: 15px Arial;
            background: #f0f2f5;
            display: inline-block;
            right: 33px;
            text-decoration: line-through;
        }
        .ant-radio-button-wrapper{
            margin-right: 10px;
        }
        .product-title{
            font-weight: bold;
            font-size: 1.25rem;
            margin-bottom: 15px;
        }
        .quantity-product{
            width: 62px;
        }
        .image-info .image-product{
            width: 100%;
            background: #f0f2f5;
        }
        .product-price{
            background: #f0f2f5;
            padding: 10px;
        }
        .product-name{
            background: #f0f2f5;
            padding: 0px 10px 10px 10px;
        }
        .album-product-detail{
            margin-top: 14px;
        }
    }

}