.cart-content {
    .info-product{
        position: relative;
    }
    &__item-product{
        padding-right: .625rem;
        padding-left: .625rem;
        margin-top: .625rem;
        margin-bottom: .625rem;
        cursor: pointer;
        position: relative;
        span.info-product-title{
        }
        .quantity-product{
            width: 55px !important;
        }
        .price1{
            bottom: 82px;
            right: 20px;
            font-size: 22px;
            color: red;
            padding-left: 10px;
            font-weight: bold;
            text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 3px 3px 5px #333;
        }
        .price2{
            bottom: 66px;
            color: #636363;
            margin-top: 10px;
            font: 15px Arial;
            display: inline-block;
            right: 33px;
            text-decoration: line-through;
        }
        .image-info .image-product{
            width: 100%;
            background: #f0f2f5;
        }
        .product-price{
            padding: 10px;
            display: flex;
        }
        .product-name{
            background: #f0f2f5;
            padding: 0px 10px 10px 10px;
        }
    }

}