/* ==========================================================================
   # START HEADER LAYOUT
   ==========================================================================
*/
.a-header {
    position: fixed;
    top: 0;
    display: flex;
    width: calc(100% - 10.3rem);
    height: height(header, lg);
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    line-height: height(header, lg);
    background: color(light-gray);
    z-index: 99;
    border: {
        bottom: 2px solid rgba(color(black), .075);
    }
    &__left{
        @include a-flex;
        align-items: center;
        justify-content: space-between;
        .title {
            margin-botom: 0 !important;
            font: {
                size: font-size(title);
                weight: font-weight(bold);
            }
            color: rgba(color(black),.85);
            text-transform: uppercase;
        }
        .icon-sound {
            margin-left: .9rem;
            svg{
                margin-bottom: -.8rem;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__right {
        @include a-flex;
        margin-bottom: 0;
        margin-left: auto;
        li {
            position: relative;
            @include a-flex;
            align-items: center;
            padding-left: 3rem;
            list-style-type: none;
            &:not(:last-child) {
                padding-right: 3rem;
                &::before {
                    position: absolute;
                    content: '';
                    top: calc(50% - 1.2rem);
                    right: 0.4rem;
                    width: .1rem;
                    height: 2.4rem;
                    background-color: color(light-black);
                    opacity: .2;
                }
            }
        }
        .search{
            .search__icon{
                margin-right: 2rem;
                font: {
                    size: font-size(x-large);
                }
                color: gray(gray-D9)
            }
            .search__title{
                font: {
                    weight: font-weight(medium);
                }
                color: rgba(color(black),.85);
            }
        }
    }
}
/* ==========================================================================
   # END HEADER LAYOUT
   ==========================================================================
*/