.a-main {
    margin-top: height(header, lg);
    padding-left: 2.4rem;
    padding-top: 2.4rem;
    padding-right: 1.2rem;
    margin-left: width(sider-main-collapsed, lg)
}
.a-content {
    padding-left: 2.4rem;
    &__top {
        @include a-flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1.2rem;
        padding: 1.2rem 2.4rem;
        background-color: color(white);
        @include border-radius(.4rem);
        @include box-shadow(0, 0, .6rem, .1rem, rgba(color(black), 0.02));
        &__title {
            h3 {
                margin-bottom: 0;
                font: {
                    size: font-size(large);
                    weight: font-weight(bold);
                }
                color: rgba(color(black), .85);
                span {
                    font: {
                        size: font-size(s-small);
                        weight: font-weight(regular);
                    }
                    > span {
                        color: color(primary);
                    }
                }
                a {
                    font: {
                        weight: font-weight(regular);
                    }
                }
            }
        }

        /*Phần đầu trang danh sách*/
        &--page-list {
            margin-bottom: -1.8rem;
            position: relative;
            &:before {
                position: absolute;
                top: 100%;
                left: 0;
                content: '';
                width: 100%;
                height: 1px;
                background-color: rgba(color(black), .05);
            }
        }
    }
    &__body {
        margin-top: 1.4rem;
        padding: 2.4rem .7rem 2.4rem 2.4rem;
        border-radius: .4rem;
        &.bg-white {
            background-color: color(white);
        }
        /*Body trang danh sách*/
        &--page-list {
            margin-right: 1.2rem;
            padding-right: 2.4rem;
            &.list-is-sidebar {
                padding-right: .8rem;
            }
            .logo-shop {
                width: 1.6rem;
                height: 1.6rem;
                margin-right: .7rem;
                object-fit: cover;
                @include border-radius(.2rem)
            }
        }
    }
    &__block-scroll {
        overflow-y: scroll;
        overflow-x: hidden;
        @include css-transition('ease all .4s');
        &:hover {
            &::-webkit-scrollbar-thumb {
                background: color(gray-9F);
                border-radius: 10px;
            }
        }
        &::-webkit-scrollbar {
            width: 6px;
            &:horizontal {
                height: 6px;
            }
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: color(gray-9F);
            cursor: pointer;
        }
    }
    /*Tìm kiếm đầu trang danh sách*/
    &--search-header {
        margin-right: 1.2rem;
        margin-bottom: 1.6rem;
        padding: 1.6rem 2.4rem;
        background-color: color(white);
        @include border-radius(.4rem);
        &.search-default {
            .search--right {
                @include a-flex;
                @include media-breakpoint-down(lg){
                    flex-direction: column;
                }
                .item--special {
                    width: 100%;
                }
                .search--action {
                    margin-left: 3rem;
                    @include a-flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    @include media-breakpoint-down(lg){
                        flex-direction: column-reverse;
                        align-items: flex-end;
                        margin-top: 0;
                        margin-left: 0;
                    }
                }
            }
        }
        .search--left {
            position: relative;
            &:after {
                position: absolute;
                content: '';
                right: 0;
                top: -1.6rem;
                width: 1px;
                height: calc(100% + 3.2rem);
                background-color: rgba(color(black), .1);
                @include media-breakpoint-down(lg){
                    top: 0;
                    height: 100%;
                }
            }
        }
        .search--action {
            @include a-flex;
            align-items: flex-end;
            flex-direction: column;
            margin-top: .6rem;
            @include media-breakpoint-down(lg) {
                margin-top: 0;
                align-items: center;
                flex-direction: row;
                justify-content: flex-end;
            }
            a{
               @include media-breakpoint-down(lg){
                   margin-top: 1rem;
               }
            }
            .link-reload {
                margin-bottom: .5rem;
                color: rgba(color(black), .45);
                i {
                    color: rgba(color(black), .65);
                }
            }
        }
    }
    /*Trang danh sách*/
    &--page-list {
        padding-left: 0;
        /*Title lish danh sách*/
        &__title {
            h3 {
                margin-bottom: 0;
                font: {
                    size: font-size(x-large);
                    weight: font-weight(bold);
                }
                color: color(light-black);
                span {
                    font: {
                        size: font-size(s-small);
                        weight: font-weight(medium);
                    };
                    > span {
                        color: color(primary);
                    }
                }
            }
        }
    }
    /*Phần nội dung content có chatbox bên phải*/
    &--ischatbox {
        width: calc(100% - #{ get-map($widths, "chatbox", "lg")} - 3.4rem);
    }
}
/*Block trong chi tiết kiện giống panel */
.block--primary {
    position: relative;
    @include border-radius(.4rem);
    .title {
        @include a-flex;
        align-items: center;
        padding: 1.9rem 2.4rem;
        color: color(white);
        background-color: color(primary);
        border-top-left-radius: .4rem;
        border-top-right-radius: .4rem;
        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
        .left {
            @include media-breakpoint-down(lg) {
                @include a-flex;
                justify-content: space-between;
                width: 100%;
            }
            .block-mr-50 {
                margin-right: 5rem;
            }
        }
        .right {
            margin-left: auto;
            color: color(white);
            font: {
                weight: font-weight(regular);
            }
            @include media-breakpoint-down(lg) {
                margin-top: 1rem;
            }
            a {
                color: white;
            }
        }
    }
    .body {
        padding: 3.2rem 2.4rem 1.9rem 2.4rem;
        background-color: color(white);
        border-bottom-left-radius: .4rem;
        border-bottom-right-radius: .4rem;
        .block--group {
            .title--block {
                margin-top: .8rem;
                margin-bottom: 1.5rem;
                h4 {
                    padding-bottom: .5rem;
                    font: {
                        size: font-size(medium);
                        weight: font-weight(bold);
                    }
                    border-bottom: .1rem solid color(gray-E0);
                }
            }
        }
    }
}
/*Block thông tin chi tiết từng thành phần*/
.a-block-info {
    padding-bottom: 1rem;
    @include border-radius(.3rem);
    &.bg-gray {
        margin-left: 0 !important;
        margin-right: 0 !important;
        border: .1rem solid color(gray-D9);
        background-color: color(gray-FB);
    }
    &.info--detail {
        .info--label {
            margin-bottom: .4rem !important;
        }
        .info--group {
            margin-bottom: 1.6rem;
        }
    }
    .info--title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        &.iscollapse {
            @include a-flex;
            justify-content: space-between;
            position: relative;
            &:before {
                position: absolute;
                top: 1rem;
                left: 2.4rem;
                width: calc(100% - 4.8rem);
                height: .1rem;
                content: '';
                background-color: color(border);
            }
            .title {
                background-color: color(white);
                z-index: 1;
                padding: 0;
                padding-right: .5rem;
            }

            .title--collapse {
                padding-left: .5rem;
                background-color: color(white);
                color: color(primary);
                z-index: 1;
                span {
                    .icon-collapse {
                        margin-left: .5rem;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }

        }
        h4 {
            padding-bottom: .5rem;
            font: {
                size: font-size(medium);
                weight: font-weight(bold);
            }
            color: rgba(color(black), .85);
        }
    }
    .info--group {
        margin-bottom: 2.5rem;
        .info--label {
            display: block;
            width: 100%;
            margin-bottom: 1rem;
            color: rgba(color(black), .45);
            font: {
                size: font-size(s-small) !important;
                weight: font-weight(medium);
            }
            line-height: 2rem;
            @include media-breakpoint-down(lg) {
                line-height: 1.2rem;
            }
        }
        .info--value {
            display: block;
            margin-bottom: 0;
            color: rgba(color(black), .85);
            font: {
                size: font-size(medium) !important;
                weight: font-weight(regular);
            }
            word-break: break-word;
            line-height: 2rem;
            &.value-link {
                color: color(primary) !important;
                line-height: 2rem;
            }
        }
        .info--value--small {
            @extend .info--value;
            font: {
                size: font-size(small) !important;
            };
            line-height: 2rem;
        }
    }
}

