/* ==========================================================================
   # START SIDEBAR LAYOUT
   ==========================================================================
*/
/*Sider chính*/
.a-sider-main {
    position: fixed;
    left: 0;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    background-color: color(primary);
    width: width(sider-main-collapsed, lg) !important;
    min-width: width(sider-main-collapsed, lg) !important;
    max-width: width(sider-main-collapsed, lg) !important;
    z-index: z-index(fixed);
    @include css-transition('ease all .5s');
    &:hover {
        width: width(sider-main, lg) !important;
        min-width: width(sider-main, lg) !important;
        max-width: width(sider-main, lg) !important;
        .a-logo {
            span {
                display: block;
            }
        }
        .ant-menu-item {
            .title {
                display: block;
                margin-left: 1rem;
            }
            &:hover {
                background-color: rgba(color(black), .25);
                .anticon {
                    opacity: 1;
                }
            }

        }
    }
    .a-logo {
        @include a-flex;
        align-items: center;
        width: 100%;
        margin: 2.7rem .6rem;
        @include border-radius(.4rem);
        img {
            width: 4.2rem;
            height: 4.2rem;
            @include border-radius(.4rem);
            background: color(primary-bold);
            object-fit: cover;
        }
        span {
            flex: 1;
            display: none;
            margin-left: 1.5rem;
            white-space: nowrap;
            font: {
                size: font-size(medium);
                weight: font-weight(medium)
            }
            color: color(white);
        }
    }
    &__menu {
        background-color: transparent !important;
        border-right: none;
        .ant-menu-item {
            @include a-flex;
            justify-content: flex-start;
            align-items: center;
            height: 5rem;
            @include css-transition('ease all .5s');
            .title {
                display: none;
                margin-top: .2rem;
                font: {
                    size: font-size(medium);
                    weight: font-weight(medium);
                }
                color: color(white);
            }
            &:hover {
                background-color: rgba(color(black), .25);
                .icon {
                    svg {
                        opacity: 1;
                    }
                }
            }
            &.ant-menu-item-selected {
                background-color: rgba(color(black), .25);
                .icon {
                    svg {
                        opacity: 1;
                    }
                }
            }
            .icon {
                @include a-flex;
                justify-content: center;
                width: 2.4rem;
                svg {
                    width: 2.4rem;
                    opacity: .65;
                    @include css-transition('ease all .5s');
                }
            }

        }
    }
}
/*End*/
/*Sider phụ trong các trang*/
.a-sider-sub {
    width: width(sider, xxl) !important;
    min: {
        width: width(sider, xxl) !important;
        height: calc(100vh - #{ get-map($heights, "header", "lg")} - 2.4rem);
    }
    max: {
        width: width(sider, xxl) !important;
        height: calc(100vh - #{ get-map($heights, "header", "lg")} - 2.4rem);
    }
    background-color: color(white);
    overflow-y: auto;
    overflow-x: hidden;
    @include css-transition('ease all .5s');
    @include media-breakpoint-down(lg) {
        width: width(sider, lg) !important;
        min: {
            width: width(sider, lg) !important;
        }
        max: {
            width: width(sider, lg) !important;
        }
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: color(gray-9F);
            border-radius: 10px;
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
        &:horizontal {
            height: 5px;
        }
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: color(gray-9F);
        cursor: pointer;
    }
    &--radius {
        @include border-radius(.4rem)
    }
    &__block {
        padding-right: 1.6rem;
        margin-bottom: 1.6rem;
        padding-left: 1.6rem;
        &__title {
            margin-bottom: 1.4rem;
            font: {
                size: font-size(large);
                weight: font-weight(regular);
            }
            color: rgba(color(black), .85);
        }
    }
}
/*End*/
/* ==========================================================================
   # END SIDEBAR LAYOUT
   ==========================================================================
*/