.App {
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header .logo {
  width: 120px;
  height: 31px;
  text-align: center;
  margin: 0px 28px 16px 0;
  float: left;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 240px;
  line-height: 240px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}